
.vs/ArticulosWebApi/v17/.suo
.vs/ArticulosWebApi/config/applicationhost.config
.vs/ArticulosWebApi/FileContentIndex/0f6cd4c4-c4d6-4406-b366-37e552ae900f.vsidx
ArticulosWebApi/bin/Debug/*
ArticulosWebApi/obj/*
